body{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-color: rgb(5, 134, 22);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: aliceblue;
    
}
.subtitulo{
    text-align: center;
    margin: 40px;
}

*{
    margin: 0;
}

.rodape{
    background-color: rgb(5, 134, 22);
    position: relative;
    top: 200px;
    padding: 25px;
}

.milho a{
    text-decoration: none;
    
}
.mamao a{
    text-decoration: none;

}
.abobora a{
    text-decoration: none;
}
.produtos{

    display: flex;
    gap: 150px;
    justify-content: center;
    
}

.milho{
   text-align: center;
    border: solid green 30px;
    border-radius: 30px;
    
}
.imgMilho{

    
}

.mamao{
   text-align: center;
   border: solid green 30px;
   border-radius: 30px;
    
}

.abobora{
    text-align: center;
    border: solid green 30px;
    border-radius: 30px;
   
    
}

