body{

}

header{
    background-color: rgb(5, 134, 22);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: aliceblue;
    
}
.subtitulo{
    text-align: center;
    margin: 40px;
}

*{
    margin: 0;
}

.rodape{
    background-color: rgb(5, 134, 22);
    position: relative;
    top: 200px;
    padding: 25px;
}

.milho a{
    text-decoration: none;
    
}
.mamao a{
    text-decoration: none;

}
.abobora a{
    text-decoration: none;
}

.milho{
    margin: 10px;
    padding-top: 40px;
    margin-left: 80px;
    text-align: left;
}
.imgMilho{
}

.mamao{
    margin: 10px;
   margin-top: -100px;
    text-align: center;
}

.abobora{
    margin: 10px;
    margin-top: -100px;
    text-align: right;
    margin-right: 80px;
}