:root{
    --fundo: #0a300561;
    --centro: #0b4007;
}

*{
    margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.compra{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--centro);
    border-radius: 10px;
    padding: 35px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px black;
    color: white;
    
}

body{
    text-align: center;
    background: var(--fundo);
}

header{
    font-size: 25pt;
    color: white;
    background-color: var(--centro);
    padding: 40px;
}

.carrinho{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--centro);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 2px black;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
}
/* aumenta o tamanho dos imputs e dar um espaçamento entre eles*/
.Nomee{
    padding: 20px;
}
#inome{
    padding: 8px;

}
.Sobrenomee{
    padding: px;
    position: relative;
    right: 20px;
}
#isobrenome{
    padding: 8px;

}
.Cepp{
    padding: 20px;
    position: relative;
    left: 4px;
}
#icep{
    padding: 8px;

}
.Enderecoo{
    padding: px;
    position: relative;
    right: 14px;
}
#iendereco{
    padding: 8px;

}
.Numeroo{
    padding: 20px;
    position: relative;
    right: 8px;
}
#inumero{
    padding: 8px;

}
.Emaill{
    padding: 0px;
}
#iemail{
    padding: 8px;

}
.Cpff{
    padding: 20px;
    position: relative;
    left: 4px;
}
#icpf{
    padding: 8px;

}
.Telefonee{
    padding: 0px;
    position: relative;
    right: 10px;
}
#itelefone{
    padding: 8px;

}

.forma{
    font-size: 25px;
    padding: 20px;
    color: #f3ef09dd;
}


.bt_finalizar{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: white;
}

.bt_finalizar:hover{
    transform: scale(1.2,1.2);
}


