/* VARIAVEL DE COR */
:root{
    --fundo: #0a300561;
    --centro: #0b4007;
}
/* IMAGEM DA ABOBORA */
.imgabobora{
    width: 300px;
    height: 400px;
    border-radius: 30px;
}
/* COR DE FUNDO */
body{
    background: var(--fundo);
}
/* CAIXA PRINCIPAL */
.box{
    display: flex;
    text-align: center;
    background-color: #062003;
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 2px 2px 2px black;
    margin-top: 150px;
    color: white;
}
/* TITULO */
.titulo{
    font-size: 30pt;
    position: absolute;
    right: 720px;
    color: white;
    font-weight: bold;
   letter-spacing: 4px;
}
/* INPUT */
#quantidade{
    position: relative;
    border: 0;
    left: 0px;
    cursor: text;
    outline: 0;
    font-size: 18pt;
    background-color: #0a300500;;
    color: white;
}
/* TIRAR A BORDA DO INPUT */
div input[type='number']::-webkit-inner-spin-button,
div input[type='number']::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* FORMULARIO */
form{
    position: absolute;
    top: 300px;
    right: 500px;
}
/* TITULO */
.lquantidade{
    font-size: 20pt; 
    position: relative;
    right: 145px; 
    
}
/* ICONE DO MAIS/SOMAR */
.mais{
    width: 20px;
    height: 20px;
    position: relative;
    right: 250px;
    
}
/* ICONE DO MENOS */
.menos{
    position: relative;
    margin-top: 20px;
    width: 20px;
    height: 20px;
    left: -30px; 
} 
/* BOTAO COMPRAR */
.btcompra{
    position: relative;
    margin-top: 10px;
    left: -138px;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
    margin-top: 30px;  
}
/*aumenta o produto que estar com o mouse em cima*/
.btcompra:hover{
    transform: scale(1.5,1.5);
}

.atencao{
    margin-top: 330px;
    position: relative;
    margin-left: -80px;
    color: #ffc802;
    top: 10px;
   
}
.quant{
    position: relative;
    left: -30px;
    color: #ffc802;
    
}

.preco{
    font-size: 20pt;
    position: relative;
    margin-top: 100px;
    left: 180px;
}