body{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background-color: rgb(5, 134, 22);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: aliceblue;
}