/* COR DE FUNDO DA PAGINA PRINCIPAL */
body{
    background-color: #0a300561;
}
/* CABEÇALHO */
header{
    
    text-align: center;
    padding: 40px;
    font-size: 25px;
    color: aliceblue;
    background-color: #0b4007;

    
}
/* ICONE DO CARRINHO */
.carrinho{
    float: right;
    position: relative;
    bottom: 50px;
}
/* SUBTITULO */
.subtitulo{
    margin-right: 1100px;
    margin-top: 60px;
    color: rgb(255, 255, 255);
    background-color: #0b4007;
    padding: 15px;
    border-radius: 20px;
}
/* TODOS OS ELEMENTOS DA PAGINA */
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ESTILO DO RODAPE */
.rodape{
    background-color: #082b05;
    position: relative;
    top: 200px;
    padding: 40px;
}
/* TITULO DO RODAPE  */
.tituloRodape{
    color: rgba(249, 187, 0, 0.985);
    text-align: center;
    margin-top: -20px;
}
/* ICONE DO WHATTSZAP */
.zap{
    text-align: left;
    margin-left: 670px;
    position: relative;
    bottom: -30px;
    
}
/* NOME "WHATTSZAP" */
.Pzap{
color: white;
text-align: left;
margin-left: 730px;
position: relative;
top: -5px;
}
/* EMAIL NO CABEÇALHO */
.email{
    color: white;
    text-align: right;
    position: relative;
    bottom: 20px;
    margin-right: 550px;
}
/* TIRAR DECORAÇOES DO LINK DO MILHO */
.milho a{
    text-decoration: none;
    
}
/* TIRAR DECORAÇOES DO LINK DO MAMAO */
.mamao a{
    text-decoration: none;

}
/* TIRAR DECORAÇOES DO LINK DA ABOBORA */
.abobora a{
    text-decoration: none;
}
/* ESTILO DOS PRODUTOS */
.produtos{
    margin-top: 100px;
    display: flex;
    gap: 150px;
    justify-content: center;
    padding: 60px;
    background-color: #062003;
}
/* PRODUTO MILHO */
.milho{
   text-align: center;
   
    
}
/* TITULO DO PRODUTO MILHO */
.tituloMilho{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 1px;
    letter-spacing: 3px;
  }
  /* IMAGEM DO MILHO */
.imgMilho{
    width: 250px;
    border-radius: 30px;
   
}
/* TITULO DO PRODUTO MAMAO */
.tituloMamao{
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 1px;
  letter-spacing: 3px;
}
/* IMAGEM DE PRODUTO MAMAO */
.imgMamao{
    border: solid green px;
    border-radius: 30px;
    width: 250px; 
}
/* PRODUTO ABOBORA */
.abobora{
    text-align: center;
}
/* TITULO PRODUTO ABOBORA */
.tituloAbobora{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 1px;
    letter-spacing: 3px;
  }
/* IMAGEM DO PRODUTO ABOBORA */
.imgAbobora{
    border-radius: 30px;
    width: 250px;
}

/* destaca o produto que está com mouse em cima*/
.produtos:hover > :not(:hover){
    opacity: .3;
    fill: blur(50px);
}
/*aumenta o produto que estar com o mouse em cima*/

.milho:hover{
    transform: scale(1.2);
}
.mamao:hover{
    transform: scale(1.2);
}
.abobora:hover{
    transform: scale(1.2);
}

